*
{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;


}

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
min-width:100%;
flex-direction: column;
background: #DAD3BE;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#B7B597 ;
    height: 500px;
    width: 700px;
    border-radius: 20px;
}
.container .buttons
{
    width: 700px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.container button
{
    background:#6B8A7A ;
    outline: none;
    border: none;
cursor: pointer;
padding: 16px;
border-radius: 50%;
width: 50px;
color: white;
font-weight: bold;

}
.container h2
{
    margin-bottom: 20px;
    display:flex;
    width: 300px;
   
    padding: 5px;
    
}
.container p
{
    display: inline-block;
    width: 50px;

    margin-left: 30px;
}
#reset
{
    background: red;
    color: black;
    width: 90px;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    margin-top: 40px;
    border-radius: 10px;
    border: 1.5px solid black;

}
#wicket,#no_ball
{
    width: 60px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
    background: orange;
    color: black;
}
#wide
{
    width: 60px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
    background: white;
    color: black;

}
p
{
    color: blue;
}